<footer id="footer">
    <nav>
      <ul>
        <li><span>XORM</span></li>
        <li>
          <a href="https://gitea.com/xorm">Gitea</a>
        </li>
      </ul>
    </nav>
    <p><a href="https://github.com/go-xorm/xorm/blob/master/LICENSE">&copy; Licence MIT.</a></p>
  </footer>